<div class="button-container">
  <span class="row-item-container">
    <button
      class="fancy-button"
      mat-stroked-button
      color="primary"
      (click)="goToPort(port)"
    >
      <div class="button-content-container">
        <img class="button-image" src="../assets/images/{{imageName}}" />
        <span class="button-label"> {{ label }} </span>
      </div>
    </button>
  </span>
  <span class="expansion-panel" *ngIf="hasInfoPane">
    <mat-accordion class="expansion-panel">
      <mat-expansion-panel [hideToggle]="hideToggle">
        <mat-expansion-panel-header>
          <mat-panel-title>{{ infoPaneHeader }} </mat-panel-title>
          <mat-panel-description> {{ infoPaneDescription }} </mat-panel-description>
        </mat-expansion-panel-header>
        <span #infoPaneContent>
            <ng-content></ng-content>
        </span>
      </mat-expansion-panel>
    </mat-accordion>
  </span>
</div>
