<div class="button-container">
  <div class="row-item-container">
    <button
      class="fancy-button"
      mat-stroked-button
      color="primary"
      (click)="goToPort(port)"
    >
      <div class="button-content-container">
        <img class="button-image" src="../assets/images/{{ imageName }}" />
        <span class="button-label"> {{ label }} </span>
      </div>
    </button>
  </div>
  <div class="simple-info-container info-font" *ngIf="hasSimpleInfo">
    <ng-content select="[simple]"></ng-content>
  </div>
  <div class="expansion-panel" *ngIf="hasInfoPane">
    <mat-accordion class="expansion-panel">
      <mat-expansion-panel [hideToggle]="hideToggle">
        <mat-expansion-panel-header class>
          <mat-panel-title class="info-font">{{ infoPaneHeader }} </mat-panel-title>
          <mat-panel-description>
            {{ infoPaneDescription }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <span #infoPaneContent>
          <ng-content select="[dropdown]"></ng-content>
        </span>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
