<div class="mat-app-background background">
<mat-toolbar color="accent">
  <h1>Plex server</h1>
</mat-toolbar>

  <div class="buttons-container">
    <app-site-item
      [port]="'32400/web'"
      [imageName]="'plexicon.png'"
      [label]="'Plex'"
      [hasInfoPane]="true"
      [infoPaneHeader]="'Watch TV & Movies'"
    ></app-site-item>
    <app-site-item
      [port]="'5000'"
      [imageName]="'ombiicon.png'"
      [label]="'Ombi'"
      [hasInfoPane]="true"
      [infoPaneHeader]="'Request TV & Movies'"
      [infoPaneDescription]="'Click for login details'"
    >
      Usernames below. Password is not required and it shouldn't ask for one
      <ul>
        <li>Lars</li>
        <li>Debby</li>
        <li>Stephen</li>
      </ul>
    </app-site-item>
    <app-site-item
      [port]="'7878'"
      [imageName]="'radarrlogo.png'"
      [label]="'Radarr'"
      [hasInfoPane]="true"
      [infoPaneHeader]="'Movies administration'"
    ></app-site-item>
    <app-site-item
      [port]="'8989'"
      [imageName]="'sonarrlogo.png'"
      [label]="'Sonarr'"
      [hasInfoPane]="true"
      [infoPaneHeader]="'TV administration'"
    ></app-site-item>
    <app-site-item
      [port]="'8112'"
      [imageName]="'delugelogo.png'"
      [label]="'Deluge'"
      [hasInfoPane]="true"
      [infoPaneHeader]="'Torrents'"
      [infoPaneDescription]="'Click for login details'"
    >
      Username: Password
      <ul>
        <li>deluge: deluge</li>
      </ul>
      Note: This may not ask for a username and just a password. If so, the
      password is as above.
    </app-site-item>
    <app-site-item
      [port]="'9117'"
      [imageName]="'jackettlogo.png'"
      [label]="'Jackett'"
      [hasInfoPane]="true"
      [infoPaneHeader]="'Indexes'"
    ></app-site-item>
  </div>
</div>
